<body>
    <div class = "formImg">
        <ol>
            <li>
                INICIO
                <a href="#">Servicios Particulares</a>
                <a href="#">Servicios Empresas</a>
            </li>
            <li>
                PROMOCIONES
                <a href="#">Servicios Particulares</a>
                <a href="#">Servicios Empresas</a>
            </li>
            <li>
                NOSOTROS
                <a href="#">Conoce al coach</a>
                <a href="#">Pódcast</a>
                <a href="#">Blog</a>
            </li>
        </ol>
        <div class = "social footerSocial">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-spotify"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <form action="https://formsubmit.co/your@email.com" method="POST">
        <input type="text" name="Nombre" placeholder="* Name:" required>
        <input type="tel" name="Número de Teléfono" placeholder="Phone number: +52 33 555 5555" />
        <input type="email" name="email" placeholder="* e-mail:" required>
        <textarea name="Mensaje"  placeholder="* Hello!, Tell us how we can help you..." rows="6" required></textarea>
        <button type="submit">Send</button>
        <input type="hidden" name="_template" value="box">
        <input type="hidden" name="_next" value="#">
        <input type="hidden" name="_subject" value="New submission!">
        <input type="hidden" name="_captcha" value="false">
    </form>
</body>